#topleftdiv
#about
  :markdown
    \- a database of radiological cases.

    This is an invite-only site. If you have been invited you can log in using your twitter account. The site is under development and free to use for the moment.

    I hope the site in itself is rather self-explanatory. For more information please see the Readme.

