#topleftdiv
#about
  | <span class=orbitron> RADIOCA.SE </span> -  a database for radiological cases
  br
  br
  ul 
    li Do you have that creeping feeling that your collected cases will disappear in the next PACS upgrade?
    li Would you like to be able to access your cases from anywhere/anything with an internet connection (including your nice, shiny iPad)?
    li Do you like sharing?
  br
  p
    | - Just use <span class=orbitron> RADIOCA.SE </span>
  hr
  br
  h5
    | Cheat-sheet
  table#cheatsheet
    tr
      td
        img.control(src='/icons/balloon.png')
        | Feedback
      td
        img.control(src='/icons/question.png') 
        | Markdown help
    tr
      td
        img.control(src='/icons/plus.png')
        | Add page / image / stack
      td
        img.control(src='/icons/minus.png')
        | Delete page
    tr
      td
        img.control(src='/icons/disc.png') 
        | Save page
      td
        img.control(src='/icons/cross.png')
        | Remove image / stack
    tr
      td
        img.control(src='/icons/pencil.png')
        | Edit page / text
      td  
        img.control(src='/icons/tick.png')
        | Done
    tr
      td
        img.control(src='/icons/arrow-180.png')
        | Previous page
      td
        img.control(src='/icons/arrow.png') 
        | Next page
  br
  hr
  br
  | Please see
  a(href="/stat/colophon") colophon
  |  for the techical stuff and 
  a(href="/stat/disclaimer") disclaimer
  |  for the rest.
