:markdown
  RADIOCA.SE - a database of radiological cases.

  For the moment this is an invite-only site. If you have been  invited you log in using your twitter account. The site is under development and free to use, in the future however I probably will charge a one-time fee of $10 to offset some of the server costs.

  It


#footer
  a(href='/')
    | Home
  | -
  a(href='/readme')
    | Readme
  | -
  a(href='/about')
    | About
  | -
  a(href='Contact')
    | Contact
