#wrap
  button(id='editbutton')
    | edit page
  #leftcolumn
    -each radio in radios
      .stack(url='#{radio}', style='background-image: url("/images/#{radio}.jpg")')
  #rightcolumn
    -each text in texts
      .txt
        textarea.mdtxt(style='display:none')
          #{text}
      .md
#editbar
script(type='text/javascript')
  $(function(){

    $('#editbar').hide();
    var converter = new Showdown.converter();
    //    alert(editurl);
    
    function rendermd(){ 
        $(".txt>.md").html(function(){
        var markdown = $(this).siblings(".mdtxt").val();
        // alert(markdown);
        var html = converter.makeHtml(markdown);
        alert(html);
        return html;
        });
    }

    rendermd(); // renders the markdown textareas.

    $('#editbutton').click(function(){
      $('#editbar').show();
      $.ajax({
        url: window.location.pathname + "edit",
        method: "GET",
        success: function(response){
          if(!response){
            $('#editbar').html('Denied');
            }
          else{ 
            $('#editbar').html(response);
            $(".md").live({
            dblclick: function() {
              $(this).hide();
              $(this).siblings(".mdtxt").show().focus();
            }
            }); // shows the textbox for editing upon doubleclick
          
            $(".mdtxt").live({
              blur: function() {
                $(this).hide();
                rendermd();
                $(this).siblings(".md").show();
              }
            }); // hides the textbox and renders the markdown
          }
        }
      });
    });
  });
