#wrap
  button(id='editbutton')
      | edit page
  #taco
    -each radio in radios
      .radio.col1
        .stack(url='#{radio.img}', class='img512', style='background-image: url("/images/#{radio.img}.jpg")')
        .caption
          textarea.mdtxt(style='display:none')
            #{radio.caption}
          .md
      iframe(id='editbar', src='about:none')
    -each text in texts
      .txt.col2
        textarea.mdtxt(style='display:none')
          #{text}
        .md

script(type='text/javascript')
  $(function(){

    $('#editbar').hide();

    rendermd(); // renders the markdown textareas.

    $(".mdtxt").live({
       blur: function() {
           $(this).hide();
           rendermd();
           $(this).siblings(".md").show();
       }
    }); // hides the textbox and renders the markdown


    $('#editbutton').live({
      click: function(){
      $('#editbar').show().attr('src', window.location.pathname + "edit");
      }
    });
      
  });
