br
br
h1.casesh1 Cases
br
ul
- each c in cases
  li.casesli
    a(href='/case/#{c.cid}/1') #{c.title}
    |  by:
    a(href='https://twitter.com/intent/user?screen_name=#{c.creator}')
      @#{c.creator}