#controls
  form(id='savepage', action='/case/#{caseid}/#{page}')
    a.session(id='done')
      |  ,  ▶
    input(type='hidden', name='_method', value='put')
    a.session(id='help')
      |  ,  ?  ,
    a.session(id='show_save')
      |  ,  ◉  ,
    a.session(id='delpage')
      |  ,  X  ,
    a.session(id='meta_button')
      |  ,  {m}  ,
    a.session(id='newpage')
      |    ＋  ,
script(type='text/javascript')
  $(function(){
    $('#session').hide();
    $('#footer').hide();
    $('#sl').hide();
    editfunctions(); //activates edit functionality when page is loaded
  });