#controls
  a.abutton(id='done')
    |  ◀ &#x2002;
  a.abutton(id='help')
    |  &#x2002; ? &#x2002;
  a.abutton(id='show_save')
    | &#x2002; ◉ &#x2002;
  a.abutton(id='delpage')
    |  &#x2002; &#x166d; &#x2002;
  a.abutton(id='meta_button')
    |  &#x2002; {m} &#x2002;
  a.abutton(id='newpage')
    |  &#x2002; ＋ &#x2002;
script(type='text/javascript')
  $(function(){
    $('#session').hide();
    $('#footer').hide();
    $('#sl').hide();
    editfunctions(); //activates edit functionality when page is loaded
  });