#controls
  form(id='savepage', action='/case/#{caseid}/#{page}')
    button(id='done', type='button')
      | Close editbar
    input(type='hidden', name='_method', value='put')
    button(id='help', type='button')
      | ?
    button(id='save', type='button')
      | Save
    button(id='meta_button', type='button')
      | Meta
    button(id='newpage', type='button')
      | New Page
    button(id='delpage', type='button')
      | Delete Page
script(type='text/javascript')
  $(function(){
    $('#session').hide();
    $('#footer').hide();
    $('#sl').hide();
    editfunctions(); //activates edit functionality when page is loaded
  });