#indexpage
  h1.big_logo RADIOCA.SE

  img(src='/images/OldRadio_2.jpg')

  .welcome -Welcome

  br

  a(href='/cases') List Cases
  |  -
  a(href='/newcase') Create Case


#footer
  a(href='/')
    | Home
  | -
  a(href='/readme')
    | Readme
  | -
  a(href='/about')
    | About
  | -
  a(href='Contact')
    | Contact
script(
