#indexpage
  br
  .big_logo RADIOCA.SE
  br
  br
  img(src='/images/OldRadio_3_320.svg', style='width: 320px')

  h1.damion -Welcome

  br

  a(href='/cases/0/-1') List Cases
  |  -
  a(href='/newcase') Create Case
script(type='text/javascript')
  $(function(){
    $('#sl').hide();
  });
