extends layout

block mainContent
  #indexpage
    br
    .big_logo.clutchee RADIOCA.SE
    br
    br
    img(src='/static/img/OldRadio_3_320_2.svg', style='width: 320px')

    br
    br
    br
    a(href='/cases/0/-1') 
      h4.clutchee List cases
  script(type='text/javascript')
    $(function(){
      // Hides small logo
      $('#sl').hide();
      });
