#indexpage
  br
  .big_logo RADIOCA.SE

  img(src='/images/OldRadio_2_320.jpg')

  h1.damion -Welcome

  br

  a(href='/cases/0/-1') List Cases
  |  -
  a(href='/newcase') Create Case
script(type='text/javascript')
  $(function(){
    $('#sl').hide();
  });
