#indexpage
  br
  .big_logo RADIOCA.SE
  br
  br
  img(src='/static/img/OldRadio_3_320.png', style='width: 320px')

  h1.damion -Welcome
  //a#sign_in Sign in with twitter
  a#sign_in
    img(src='/static/img/sign-in-with-twitter-d.png')
  br
script(type='text/javascript')
  $(function(){
    // Hides small logo
    $('#sl').hide();
    $('#usercontrols').hide();
    });
