!!!5
html
  head
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title RADIOCA.SE#{title}
    link(href='http://fonts.googleapis.com/css?family=Orbitron:400,500|Dancing+Script|Damion', rel='stylesheet', type='text/css')
    -each style in styles
      link(rel='stylesheet', href='/stylesheets/#{style}')

    script(src = '/javascripts/jquery-latest.js')
    script(src = '/auth/client')
    script(src = 'http://platform.twitter.com/widgets.js')
    -each script in scripts
      script(type='text/javascript', src='/javascripts/#{script}')
  body
    #container
      != body // this renders the body of an individual view
