!!!5
html
  head
    title #{title} 
    -each style in styles
      link(rel='stylesheet', href='/stylesheets/#{style}')
    script(src = 'http://code.jquery.com/jquery-latest.js')
    script(src = '/auth/client')
    script(src = 'http://platform.twitter.com/widgets.js')
    -each script in scripts
      script(type='text/javascript', src='/javascripts/#{script}')
  body
    #session
      button(id='twitbutt')
        | Sign in with twitter
    != body // this renders the body of an individual view