form(id='newcase')
  | Title:
  input(type='text', name='title', id='title')
  br
  | ICD-Code
  input(type='text', name='ICD', id='ICD')
  br
  button(id='createcase', type='button')
    | Create Case