:markdown
  **DISCLAIMER** I'm not a lawyer, and I don't work or live in the US, but from my understanding medicolegal issues can be quite complicated over there, so if you work in such an environment, **PLEASE DON'T CITE** the information you find here as authorative (well, actually this goes for everyone). I don't know if you get off the hook citing an article or book but **PLEASE DOUBLE CHECK ALL REFERENCES** provided, they are for your convenience, but I rely on people's good will that they are correct.

  I want this to be a beautiful and curated collection, which is easy to access and filled with only useful information. I prefer a lower number of higher quality cases to a larger number of subpar entries, which mostly adds to noise. But what defines a good case is of course subjective so there are only three ground rules, great images (including whole stacks of images), good discussions and relevant references.

  Personally I like references to books I have in my apartment or at our department, (Brant and Helms, Amirsys series) but if you use other books please cite them, maybe I get some good ideas of what to add to my library... Another great option is a link-reference to the statdx-homepage. References to articles are of course excellent, I work at a university hospital and have access to subscriptions of most major journals, but maybe this is not the case for all readers, so the bigger the better, I guess. (eg Radiology, Radiographics, European journal of Radiology etc.) Also, if you can find the article in Mendeley (1)  and/or pubmed please add these accession numbers as well. If you read a case and take the time to look for the references in Pubmed or Mendeley maybe you can send feedback to the author with the accession numbers in case they are not already there.

  To improve quality and give praise I will activate a feedback icon at the top of each page with three options of how to share your opinions, which are not mutually exclusive. Choosing 'author' means the author of the page will get an email with your feedback, 'public' means the feedback will be added to the very same page for all to read (thus enabling a sort of discussion) and 'curator' sends me an email with the feedback.

  When you add a case you have the option of keeping it private but the default is that everything added to the site is shared with other users. Remember to **ANONYMIZE ALL PATIENT RELATED INFORMATION**. If I see a case which I don't think is suitable for the open collection I will flag it 'private' and send the author an email explaining my reasons. I will not remove cases from private collections, unless information stored therein is illegal to keep in databases.

  You can write up your cases in any language you like. I have used the determination 'case' when talking about the pages of the site, but 'folder’ might be better. Maybe you prefer to do a presentation on a specific diagnosis or group of diagnoses adding images from several patients.

  As you might have noticed this is an invitation only site, if you'd like an invitation please send an email to <info@radioca.se>.

  Finally, this is a hobby of mine, I built the site because it's something I hope can be useful during my radiology residency. It is free to use for the moment. In the future, once it's up and running smoothly and has outgrown it's current linode (about 20Gb of storage) I will look into models for charging to keep the site growing. Probably it will come to a one-time sign up fee of about $10-20 (roughly half the price of one pay-per view article of an academic publisher - and I would like to think that this site in the end might be more useful) - maybe there will also be an extra charge for large numbers of private cases.

  I don’t claim any rights to information you add to the database. Please see [colophon] (./colophon) for further information on the software of this site. If you want to get in touch with me you can drop me a line at <johannes.finnsson@gmail.com>.

<sub>(1) If you like collecting articles but haven't tried Mendeley I suggest you check it out <http://www.mendeley.com>, they have a great program for storing your pdf:s, good integration to word and bibtex and an interesting social network thing where you can connect with people reading what you read and share articles</sub>

