extends casepage

block casepagecontent
  #texts
    - each t, i in texts
      br
      .text
        a.toggletext  
          .txt
            textarea.mdtxt(style='display:none')
              | #{t.caption} 
            .md
            img.control.textedit.session(src='/static/ico/pencil_bw.png')
          img.control.deletetext.session(style='display:none', src='/static/ico/cross_bw.png')
        .txt.invisible
          textarea.mdtxt(style='display:none')
            | #{t.val}
          .md
          br
          img.control.textedit.session(src='/static/ico/pencil_bw.png')
    br
    img.control#addtext(style='display:none', src='/static/ico/plus_bw.png')
