#wrap
    min-height 100%
    padding 0
    min-width 512px
    margin 0 auto
#taco
    margin-top 35px
    position relative
#markdown-help
    position absolute
    left 10px
    top 0px
    width 512px
    background-image url("/images/paper/Texture0214.jpg")
.col1
    position absolute
    left 0px
    top 0px
#editbutton
    position fixed 
    top 5px
    right 5px
.details
    position fixed
    top 35px
    right 200px
#logininfo
    position fixed
    top 50%
    right 50%
#editbar
    position fixed
    top 0px
    left 0px
    margin-top 0px
    height 30px
    width 100%
    background-color #222
.col2
    position absolute
    left 532px
    top 0px
.radio
    margin-right 10px
    margin-left 10px
.img512
    height 512px
    width 512px
.loading
    background-image url("/images/loading_gif.gif")
    background-position 50% 50%
    background-repeat no-repeat
.deletebutton
    position absolute
    top 5px
    right 5px
.stack
    position relative
    padding 0
    border 0
    background-size auto 100%
    overflow hidden
    color #fff
    background-color #222
.hidden
    width 0px
    height 0px
    display none
.txt
    background-image url("/images/paper/Texture0213.jpg")
    max-width 35em
    min-width 20em
.md
    padding 10px 30px
.caption>.md
    margin-top -15px
    color #888
textarea
    width 100%
    line-height 1.2
    font-family monospace
    font-size 100%
html
    height 100%
body
    font-family Georgia, Palatino, serif
    color #444
    background-color #bbb
    background-image url("/images/Dark-Metal-Grid-Patterns_04.jpg")
    background-size 200px
    line-height 1
    height 100%
h1, h2, h3, h4 
    color #222
    font-weight 400
h1, h2, h3, h4, h5, p 
    margin-bottom 24px
    padding 0
h1 
    font-size 48px
h2 
    font-size 36px
    margin 24px 0 6px
h3 
    font-size 24px
h4 
    font-size 21px
h5 
    font-size 18px
a 
    color #0099ff
    margin 0
    padding 0
    vertical-align baseline
ul, ol 
    padding 0
    margin 0
li 
    line-height 24px
p, ul, ol 
    font-size 16px
    line-height 24px
    max-width: 540px
pre 
    padding 0px 24px
    max-width 800px
    white-space pre-wrap
code 
    font-family Consolas, Monaco, Andale Mono, monospace
    line-height 1.5
    font-size 13px
aside 
    display block
    float right
    width 390px
blockquote 
    margin 1em 2em
    max-width 476px
blockquote p 
    color #aaa
    max-width 460px
hr 
    width 100%
    text-align left
    margin 0 auto 0 0
    color #aaa
