body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
div.stack {
  width: 512px;
  height: 512px;
  padding: 0;
  border: 0;
  background-size: auto 100%;
  overflow: hidden;
  min-height: 512px;
  position: relative;
}
.maximized {
  top: 0px;
  left: 0px;
}
