#container
    margin 0 auto
    width 90%
#indexpage
    text-align center
#newcase
    margin 0 auto
#userinfo
    position absolute
    top 25px
    right 5%
    z-index 1
    padding 0 10px 10px 10px
    border-style solid
    border-width 0 0 1px 1px
    border-color #aaa
    background #333
#addstack
    float left
.session
    font-family helvetica, arial
    padding-top 3px
    cursor pointer
    float right
    line-height 1.3
.big_logo
    color #bca
    font-family "Orbitron"
    font-weight bold
    font-size 50pt
    margin-top 30px
.damion
    font-family "Damion"
#sl
    position fixed
.dialog_box
    position fixed
    left 30%
    top 30%
    background #222
    padding 8px
    border 2px
    border-style solid
    border-color #aaa
#footer
    padding 30px 0
    text-align center
    clear both
#session
    float right
    height 20px
#savepage
    height 25px
#pageinfo
    height 17px
    padding 4px
    float left
#radios
    float left
    width 50%
#addstack
    margin 5px
.radio
    position relative
.stack
    position relative
    overflow hidden
.stack_image
    display none
    top 0px
    left 0px
    width 100%
    overflow hide
.imgload
    visibility hidden
.deletebutton
    position absolute
    top 5px
    right 5px
.caption
    margin 5px
.caption>.md
    margin-top -15px
    color #888
.casesh1
    text-align center
.casesli
    text-align center
#cases_lc
    width 48%
    float left
    text-align right
    padding 1%
#cases_rc
    width 48%
    padding 1%
    float right
    text-align left
#cases
    line-height 150%
    width 100%
    float left
    text-align center
#texts
    width 50%
    float right
    clear both
.txt
    background-image url("/images/paper/Texture0213.jpg")
    color #006
@media screen and (max-width: 450px)
    #markdown-help
        width 100%
    #sl
        display none
    #container
        width 100%
    #session
        top 5px
        margin 0 auto
    #pageinfo
        top 15px
        margin 0 auto
    #radios
        width 100%
    #texts
        width 100%
@media screen and (max-width: 585px)
    .big_logo
        font-size 30pt
@media screen and (min-width: 1024px)
    #radios
        width 65%
    #texts
        width 35%
    #markdown-help
        width 65%
#readme
    padding 5%
#about
    padding 5%

textarea
    width 100%
    line-height 1.2
    font-family monospace
    font-size 100%
.md
    padding 10px 20px
#markdown-help
    background-image url("/images/paper/Texture0213.jpg")
    color #006
    position absolute
    width 45%
    top 25px
    left 5%
#editbar
    height 25px
    overflow hidden
    float right
    width 12em
#uploadform
    position relative
.fileinputs
    position relative
.fakefile
    position absolute
    top -5px
    left 0px
    z-index 1
.file
    position relative
    -moz-opacity 0
    opacity 0
    z-index 2
button
    background-color #222
    color #aaa
input
    background-color #222
    color #aaa
.hidden
    width 0px
    height 0px
    visibility hidden
html
    height 100%
body
    font-family Georgia, Palatino, serif
    color #aaa
    background-color #333
    line-height 1
    height 100%
h1, h2, h3, h4 
    color #e90
    font-weight 400
h1, h2, h3, h4, h5, p 
    margin-bottom 24px
    padding 0
h1 
    font-size 48px
h2 
    font-size 36px
    margin 24px 0 6px
h3 
    font-size 24px
h4 
    font-size 21px
h5 
    font-size 18px
a 
    color #0099ff
    margin 0
    padding 0
    vertical-align baseline
    text-decoration none
ul, ol 
    padding 0
    margin 0
li 
    line-height 24px
p, ul, ol 
    font-size 16px
    line-height 24px
    max-width: 540px
pre 
    padding 0px 24px
    max-width 800px
    white-space pre-wrap
code 
    font-family Consolas, Monaco, Andale Mono, monospace
    line-height 1.5
    font-size 13px
aside 
    display block
    float right
    width 390px
blockquote 
    margin 1em 2em
    max-width 476px
blockquote p 
    color #aaa
    max-width 460px
hr 
    width 100%
    text-align left
    margin 0 auto 0 0
    color #aaa
